
*{
	padding: 0;
	margin: 0;
  	box-sizing: border-box;
 	font-family: "Poppins", sans-serif;
	scroll-behavior: smooth;
}


header{
	opacity: .75;
	border-bottom-left-radius:50px ;
	border-bottom-right-radius: 50px;
    position: absolute;
	width: 95%;
	padding : 20px 30px;
	display: flex;
	justify-content: space-between;	
    top : 0%;
    left: 2.5%;

	background: rgb(44, 44, 44);
	z-index: 1;
    
}
.logo{

    margin-top: -15px;
    width: auto;
    height: auto;
}

.navigation a{

    position: relative;
    font-family:'Courier New', Courier, monospace;
	color: #ffffff;
	text-decoration: none;
	margin-left: 20px;
    margin-right: 20px;
    font-size: 150%;
	font-weight:500;

}


.btnUser{
   
    
    margin-top: -10px;
	cursor: pointer;
    border-radius: 100px;
    border-width: 3px;
    width: 45px;
    height: 47px;
}


.navigation a::after{
	content:'';
	position: absolute;
	left: 0;
	bottom: -6px;
	width :100%;
	height: 3px;
	border-radius: 5px;
	transform-origin: right;
	transform: scaleX(0);
	transition: transform .6s;
	background: rgb(255, 123, 0);
}

.navigation a:hover::after {
	transform-origin: left;
	transform: scale(1); 
}


#topic1
{
	font-family:'Times New Roman', Times, serif;
	font-size:90px;
	text-align: center;
	margin-top: 7%;
	opacity: .1;
	font-weight: 100;
	
}

#dis1
{
	position:absolute;
	margin-left: 6%;
	font-family:'Times New Roman', Times, serif;
	font-size:90px;
	z-index: 1 ;
	width: 700px;
	font-weight: 100;
	margin-top: 5%;
	color:  rgb(40, 40, 40);
	font-style: italic;
	
}


.slideshow-container {
	
	position: relative;
	width: 800px;
	height: 500px;
	margin-left: 40%;
	overflow: hidden;
  }
  
  .slide {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	transition: opacity 2s ease-in-out;
  }
  
  .slide.active {
	opacity: 1;
  }
  
  .slide img {
	width: 100%;
	height: 100%;
  }


.lands {
	
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap ;
	margin: 5% 5% 5% 5%;
	
}
.lands .l1 img
{	

	padding: 20px;
	display:flex;
	justify-content:space-around ;
	width: 350px;
	height: 450px;
	border-top-left-radius: 5%;
	border-top-right-radius: 5%;
	
}
.lands .l1 .text
{
	margin : 20px 0px 0px 20px;
	position: absolute;
	display: flex;
	justify-content: center;
	color: #ffffff;padding: 1px;
	background-color: rgb(1, 36, 0);
	border-radius: 5%;
	opacity: .9;
	max-width: 120px;
	font-size: larger;
	padding: 6px 20px 6px 20px;
	
}



.lands .l1:hover{
	transform: scale(1.1);
	transition: 500ms;
}



.lands .l1 span
{
	
	font-size: 20px;
	font-weight: 600;
}

.lands .l1 p 
{
	display: flex;
	align-items: center;
	font-size: 10px;
}

.lands .l1 p img{

	font-size: 10px;
	width: 45px;
	height: 45px;
	display: inline;
	scale: 3;

}
